@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300;1,600&family=Lato:wght@300;400&display=swap');

@font-face {
    font-family: TheStylishBabes;
    src: url('fonts/TheStylishBabes.woff2');
}

@font-face {
    font-family: AdornStorySerif;
    src: url('fonts/AdornStorySerif.woff2');
  }

  @font-face {
    font-family: AugustRomaScript;
    src: url('/fonts/AugustRomaScript.woff2');
  }




* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1px;
    font-weight: 100;
}

img {
    max-width: 100%;
}

.header {
    max-width: 1800px;
    height: 150px;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



.navbar {
    background: #ffffff;
    width: fit-content;
    height: 150px;
    flex: 1 0 px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin-left: 40px;
}

.navbar .logo {
    width: 250px;
    margin-right: 40px;
}

.navbar a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 4px;
    padding: 14px;
    margin-left: 20px;
    color: #000000;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar a.active {
    text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

@media (max-width: 1000px) {
    .navbar .logo {
        display: none;
        width: 150px;
        margin-right: 0px;
        position: sticky;
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .navbar a {
        display: block;
    }

    .navbar a.icon {
        float: none;
        display: none;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .header {
        max-width: 200px;
        height: 230px;
        margin: 0 auto;
        padding: 0 0;
        display: flex;
        overflow: visible;
    }

    .navbar {
        background: #ffffff;
        height: 180px;
        flex: 0 0px 0px;
        margin: 15px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-left: none;
    }




    .navbar a {
        height: 17px;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 4px;
        color: #000000;
        padding: 18px;
        text-decoration: none;
    }

}








.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #5e6353;
}

.contact {
    text-align: center;
    position: relative;

}

.contact h1 {
    top: 0px;
    left: 0px;
    font-family: TheStylishBabes;
    font-size: 80px;
    font-weight: 100;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    border: 0px solid black;
    width: 900px;
    left: 270px;
    top: 90px;
}

.contactInfo {
    max-width: 1000px;
    text-align: center;
}

.contactInfo h2 {
    font-family: 'AdornStorySerif', serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.contactInfo h3 {
    font-family: TheStylishBabes;
    font-size: 50px;
    line-height: 45px;
    font-weight: 100;
    color: #a59880;
}

.contactInfo h6 {
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    font-style: italic;
    text-transform: uppercase;
    line-height: 30px;
    color: #ffffff;
    margin-left: 10px;
}

.contactInfo a {
    font-family: Lato;
    font-style: italic;
    letter-spacing: 2px;
    color: #ffffff;
    line-height: 30px;
    text-decoration: none;
}

.contact h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0px;
    color: #858c77;
    text-align: left;
}

.contact a {
    color: #858c77;
    text-decoration: none;
}

.contact a:visited {
    color: #858c77;
    text-decoration: none;
}

.contactInfo hr {
    width: 100%;
    border: .5px solid #a59880;
}

.contactInfo .button {
    border: 0px solid #5e6353;
    background-color: #a59880;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
}

@media (max-width: 640px) {

    .contactContainer,
    .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding: 30px;
        background-color: #5e6353;
    }

    .contact {
        text-align: left;
    }


    .contact h1 {
        position: absolute;
        z-index: 1;
        border: 0px solid black;
        width: 100%;
        left: 0%;
        top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactInfo {
        width: 90%;
        text-align: center;
        margin: 0 0 30px;
    }

    .contactInfo .button {
        margin-top: 530px;
    }

    .contactInfo h2 {
        font-size: 30px;
    }

    .contactInfo h6 {
        font-size: 15px;
    }
}


.openButton {
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #ffffff;
    color: rgb(48, 48, 48);
    padding: 14px 20px;
    cursor: pointer;
    margin-top: 50px;

}

.openButton a {
    color: #1e1301;
    font-style: normal;
    text-decoration: none;
}

@media (max-width: 640px) {
    .openButton {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}







.galleryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #a59880;
}

.img-box {
    box-sizing: content-box;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption>p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}

@media (max-width: 640px) {
    .img-box {
        min-height: 120px;
        min-width: 120px;
        max-width: 120px;
        max-height: 120px;
        overflow: hidden;
        display: inline-block;
        color: white;
        position: relative;
    }
}







.footer {
    width: 1200px;
    left: 0;
    bottom: 0;
    height: 100;
    width: 100%;
    background-color: #5e6353;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 4px;
    padding-top: 0px;
}

.footer img {
    height: 200px;
}

.footer h3 {
    font-family: 'Lato', sans-serif;
    font-weight: strong;
    font-size: 10px;
    letter-spacing: 4px;
    padding-top: 20px;
    text-transform: uppercase;
}

.creamWrapper {
    background-color: #c0b4a5;
    padding: 10px;
}

.footerFeaturedIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 48px 48px;
    position: relative;
}

.footerFeaturedIn img {
    height: 30px;
    margin: 32px 16px 0;
}

.footerNavbar {

    height: 120px;
    flex: 0 0 0px;
    background-color: #edeae6;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 8px;
    letter-spacing: 4px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    padding-bottom: 30px;
}

.footer a {
    color: #000000;
    padding: 20px;
}

.footer a:link {
    text-decoration: none;
}

.footer a:visited {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

.footer a:active {
    text-decoration: none;
}

.credits {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 8px;
    letter-spacing: 3px;
    padding: 0 0 50px 0;
    text-align: center;
    background-color: #edeae6;
    color: #000000;
}



.footerForm {
    border: 0px solid #f1f1f1;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 300;
    color: #ffffff;

}

.formContainer {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



@media (max-width: 640px) {
    .footer {
        width: 100;
        left: 0;
        bottom: 0;
        height: 100;
        background-color: #5e6353;
        color: white;
        text-align: center;
    }


    .footerNavbar {
        height: 300px;
        font-size: 8px;
        letter-spacing: 4px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerNavbar .footerLogo {
        height: 50px;
        width: 50px;
        margin: 15px;
        display: flex;
    }

    .footer a {
        padding: 8px;
    }

    .credits {
        font-size: 6px;
    }

    form {
        flex-wrap: wrap;
    }

    .formContainer {
        padding: 10px;
        display: flex;
        flex-direction: row;
    }

}












.parallax1 {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/home/Sitting-3A.jpg");

    /* Set a specific height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/home/SU410_ROSEUNIACKE_BEDROOMC1_HERO_0.jpg");

    /* Set a specific height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}


.hero-text p {
    font-family: Lato;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
}

.hero-text h1 {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .hero-text {
        display: initial;
        text-align: center;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        color: rgb(255, 255, 255);
    }

}

@media (max-width: 640px) {
    .parallax1 {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 640px;
        min-height: 300px;
    }

    .hero-text {
        display: initial;
        text-align: center;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        color: rgb(255, 255, 255);
    }

    .hero-text p {
        font-family: Lato;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 6px;
        letter-spacing: 3px;
    }

    .hero-text h1 {
        font-family: 'Cormorant Garamond', serif;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 20px;
    }

}


.theVision {
    background-color: #edeae6;
    display: flex;
    flex-direction: row;
    padding: 50px 00px;

}

.visionBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline-start: 150px;
}

.visionBlock h2 {
    font-family: 'AdornStorySerif';
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.visionBlock p {
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 20px;
    line-height: 30px;
}

.visionBlock img {
    max-width: 500px;
}

@media (max-width: 640px) {
    .theVision {
        background-color: #edeae6;
        display: flex;
        flex-direction: column;
        padding: 40px 20px;

    }

    .visionBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-inline-start: 0px;
    }

    .visionBlock h2 {
        font-family: 'AdornStorySerif';
        font-size: 40px;
        font-weight: lighter;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .visionBlock p {
        font-family: Lato;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 2px;
        text-align: left;
        margin-top: 20px;
        line-height: 30px;
    }

    .visionBlock img {
        max-width: 400px;
        padding: 20px;
    }
}



.aboutMe {
    background-color: #edeae6;
    display: flex;
    flex-direction: row;
    padding: 50px 300px 50px 100px;
}

.aboutMeBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline-start: 60px;
}

.aboutMeBlock img {
    max-width: 500px;
}

.aboutMeBlock h1 {
    font-family: 'AdornStorySerif';
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
}

.aboutMeBlock h2 {
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
    padding: 40px;
    margin-top: -100px;
}

.aboutMeBlock p {
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 20px;
    line-height: 30px;
}

.aboutMeBlock hr {
    width: 100%;
    border: .5px solid #000000;
}

@media (max-width: 640px) {
    .aboutMe {
        background-color: #edeae6;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }

    .aboutMeBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-inline-start: 20px;
    }

    .aboutMeBlock img {
        max-width: 400px;
        padding-bottom: 40px;
    }

    .aboutMeBlock h1 {
        font-family: 'AdornStorySerif';
        font-size: 20px;
        font-weight: lighter;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: left;
    }

    .aboutMeBlock h2 {
        font-family: Lato;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 2px;
        text-align: right;
        text-transform: uppercase;
        padding: 40px;
        margin-top: -85px;
    }

    .aboutMeBlock p {
        font-family: Lato;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 2px;
        text-align: left;
        margin-top: 20px;
        line-height: 30px;
    }

    .aboutMeBlock hr {
        width: 100%;
        border: .5px solid #000000;
    }
}



.teamAbout {
    background-color: #edeae6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamTitle {
    background-color: #edeae6;
    margin-top: -30px;
    justify-content: center;
}

.teamTitle h1 {
    font-family: 'thestylishbabes';
    font-size: 100px;
    font-weight: lighter;
    text-transform: lowercase;
    text-align: center;
}

.teamTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teamTitle p {
    font-family: 'Lato';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px;
}

.joinTeam {
    display: flex;
    justify-content: center;
}

.teamButton {
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #ffffff;
    color: rgb(48, 48, 48);
    padding: 14px 20px;
    cursor: pointer;
    margin: 20px 0 50px 0;
}

.teamButton a {
    color: #1e1301;
    font-style: normal;
    text-decoration: none;
}

.teamAboutBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.teamAboutBlock h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
}

.teamAboutBlock p {
    font-family: 'Lato';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

@media (max-width: 640px) {
    .teamAbout {
        background-color: #edeae6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .teamTitle {
        background-color: #edeae6;
        margin-top: -10px;
        justify-content: center;
    }

    .teamTitle h1 {
        font-family: 'thestylishbabes';
        font-size: 80px;
        font-weight: lighter;
        text-transform: lowercase;
        text-align: center;
    }

    .teamTitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .teamTitle p {
        font-family: 'Lato';
        font-weight: 300;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        text-align: center;
        margin: 10px;
    }

    .joinTeam {
        display: flex;
        justify-content: center;
    }

    .teamButton {
        border: none;
        border-radius: 100px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: #ffffff;
        color: rgb(48, 48, 48);
        padding: 14px 20px;
        cursor: pointer;
        margin: 20px 0 50px 0;
    }

    .teamButton a {
        color: #1e1301;
        font-style: normal;
        text-decoration: none;
    }

    .teamAboutBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 4px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .teamAboutBlock h2 {
        font-family: 'Cormorant Garamond', serif;
        font-size: 15px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    .teamAboutBlock p {
        font-family: 'Lato';
        font-weight: 300;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
    }
}






.newClient {
    background-color: #edeae6;
    display: flex;
    flex-direction: row;
    padding: 50px 00px;

}

.newClientBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline-start: 50px;
    padding-right: 80px;
}

.newClientBlock h2 {
    font-family: 'AdornStorySerif';
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.newClientBlock p {
    font-family: Lato;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 20px;
    line-height: 30px;
}

.newClientBlock img {
    max-width: 500px;
}

.newClient hr {
    width: 100%;
    border: .5px solid #a59880;
}


.clientReviews {
    background-color: #edeae6;
    display: flex;
    flex-direction: row;
    padding: 50px 50px;

}

.clientReviewsBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline-start: 50px;
}

.clientReviewsBlock h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.clientReviewsBlock p {
    font-family: Lato;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 20px;
    line-height: 30px;
}

.clientReviewsBlock img {
    max-width: 300px;
}

@media (max-width: 640px) {
    .newClient {
        background-color: #edeae6;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;

    }

    .newClientBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-inline-start: 20px;
        padding-right: 10px;
    }

    .newClientBlock h2 {
        font-family: 'AdornStorySerif';
        font-size: 40px;
        font-weight: lighter;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 30px;
    }

    .newClientBlock p {
        font-family: Lato;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 2px;
        text-align: left;
        margin-top: 20px;
        line-height: 30px;
    }

    .newClientBlock img {
        max-width: 500px;
        padding-top: 30px;
    }

    .newClient hr {
        width: 100%;
        border: .5px solid #a59880;
    }


    .clientReviews {
        background-color: #edeae6;
        display: flex;
        flex-direction: column;
        padding: 30px 30px;

    }

    .clientReviewsBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-inline-start: 30px;
    }

    .clientReviewsBlock h2 {
        font-family: 'Cormorant Garamond', serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .clientReviewsBlock p {
        font-family: Lato;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 2px;
        text-align: left;
        margin-top: 20px;
        line-height: 30px;
    }

    .clientReviewsBlock img {
        max-width: 300px;
    }
}


.careers {
    background-color: #c0b4a5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 250px 250px;

}

.careers h1 {
    font-family: 'AdornStorySerif';
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    color: #f1f1f1;
}

.careers p {
    font-family: Lato;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 4px;
    text-align: left;
    margin-top: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #1e1301;
}

.careersBlock img {
    max-width: 300px;
}


@media (max-width: 640px) {
    .careers {
        background-color: #c0b4a5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 150px 50px;

    }

    .careers h1 {
        font-family: 'AdornStorySerif';
        font-size: 40px;
        font-weight: lighter;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        color: #f1f1f1;
    }

    .careers p {
        font-family: Lato;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 4px;
        text-align: center;
        margin-top: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #1e1301;
    }

    .careersBlock img {
        max-width: 300px;
    }
}


/* PopUp Form */



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #ac864d;
    color: white;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    border-radius: 80px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    position: static;
    width: 200px;
    margin: 20px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    border: 0px solid #f1f1f1;
    z-index: 9;
    
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 600px;
    padding: 30px;
    background-color: white;
    display: block;
            border: 1px solid #5e6353;
            padding: 25px;
            margin-top: 5px;
            width: 100%;
            height: 700px;
            overflow-y: scroll;
    
  }
  .form-container h1{
    font-family: 'AdornStorySerif', serif;
    padding: 20px;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 5px 0;
    border: none;
    background: #f1f1f1;
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #ac864d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #1e1301;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  @media (max-width: 640px) {
  .form-popup {
    display: none;
    position: fixed;
    top: 20%;
    border: 0px solid #f1f1f1;
    z-index: 9;
  }
  .form-container {
    max-width: 550px;
    padding: 30px;
    background-color: white;
    display: block;
            border: 1px solid #5e6353;
            padding: 25px;
            margin-top: 5px;
            width: 100%;
            height: 400px;
            overflow-y: scroll;
    
  }
    
  }